{% extends '_layouts/application.html' %}

{% block content %}

<div class="content container">
    
    <h2>Hello there!</h2>
    <p>I grew up in Richmond, VA riding mountain bikes, playing in a band, and going to metal shows.</p>
    <p>Now have a kick-awesome wife, a little girl, and I still go to metal shows (and sing in an a <a href="https://www.facebook.com/MainStreetStationACappella/">cappella group</a>). </p>
    <p>I discovered my passion for design and development making CD art on a pirated copy of Photoshop 7. After I got my hands dirty in college, I moved to Washington, DC where I worked on Army.mil and USAToday.com. After only 5 years, I made my way back to Richmond, VA where I currently work as the Design Lead and Front-End Developer at a small agency.</p>
    <p>I love creating, discovering, and finding ways to make things easier on the web and in life. If you'd like to chat, just shoot me an email at <a href="mailto:hi@johnheiner.com" >hi@johnheiner.com</a>.</p>
    <img src="https://media.giphy.com/media/xT9IgG50Fb7Mi0prBC/giphy.gif">
</div>

{% endblock %}