/***

Global Styles

Global styles are designed to handle some overarching settings
such as viewport settings and box sizing.

Styles added to this file should be limited to styles applied
globally to base level elements.

***/

@include fontFace('range-mono-regular', '../fonts/range-mono-regular');


// Set viewport options
@-webkit-viewport {width: device-width;}
@-mos-viewport {width: device-width;}
@-ms-viewport {width: device-width;}
@-o-viewport {width: device-width;}
@viewport {width: device-width;}

// Set box sizing
*, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html,
body{
    width: 100%;
    overflow-x: hidden;
    background-color: $black;
}
html {}

body {}


