{% from '_macros/helpers.html' import sprite, imageSet,halfPhone,fullBrowser,fullBrowserPhone,fullPhone3up %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0" />
    {% include "_shared/app-icons.html" %}
    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}

    {% endblock %}
    
    <div class="site">
      <main class="main" role="main">
        {% include "_shared/header.html" %}
        {% block content %}{% endblock %}
        {% include "_shared/footer.html" %}
      </main>
    </div>
    {% block javascript %}
      <script src="/javascripts/app.js"></script>
    {% endblock %}
  </body>
</html>
